svg {
	overflow: visible;
}

[role='button'],
button {
	svg:focus {
		outline: none;
	}
}

*:focus {
	outline: none;
}
:root {
	font-size: 17px;
}

@media (min-width: 2560px) {
	:root {
		font-size: 18px;
	}
}
