// z index
$VECTOR_INDEX: 101;
$OPERATION_INDEX: 101;
$COLUMN_TITLE_INDEX: 102;

$BOUNDING_BOX_INDEX: 200;
$MULTI_HEAD_TITLE: 201;
$ABOVE_COLUMN: 300;

$EXPANDED_CONTENT_INDEX: 900;
$EXPANDED_ATTENTION_INDEX: 810;

$DIM_INDEX: 800;
$PARTIAL_DIM_INDEX: 850;
$EXPANDED_DIM_INDEX: 998;

$TOP_BAR_INDEX: 999;
$POPOVER_INDEX: 998;
$TOOLTIP_INDEX: 999;
